.input_form_box {
	.input_title {
		font-size: 32rpx;
		color: #333333;
		padding: 30rpx;
		&.required::before {
			content: '*';
			font-size: 30rpx;
			color: #f73333;
		}
	}

	.input_box {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0 30rpx;
		background-color: #fff;
		&.line {
			border-top: 1rpx solid #f7f7f7;
		}
		&.btm_line {
			border-bottom: 1rpx solid #f7f7f7;
		}
		.name {
			font-size: 30rpx;
			color: #666666;
			min-width: 120rpx;
			flex-shrink: 0;
			padding: 30rpx 0;

			&.required::before {
				content: '*';
				font-size: 30rpx;
				color: #f73333;
			}
		}
		.prompt {
			width: 100%;
			padding-bottom: 20rpx;
			font-size: 28rpx;
			color: #999999;
			transform: translateY(-10rpx);
		}

		picker {
			flex: 1;
		}
	}
	.input_info {
		padding: 30rpx 0;
		display: flex;
		flex: 1;
		align-items: center;
		> text {
			font-size: 24rpx;
			color: #555555;
			margin-left: 10rpx;
			flex-shrink: 0;
		}
		input {
			width: 100%;
			text-align: right;
			font-size: 30rpx;
		}
		button {
			flex-shrink: 0;
			min-width: 146rpx;
			padding: 0 30rpx;
			height: 60rpx;
			line-height: 60rpx;
			background-color: $themeColor;
			border-radius: 8rpx;
			font-size: 24rpx;
			color: #ffffff;
			margin-left: 20rpx;
		}
	}
	.switch {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	
		&::after {
			content: "";
            @include theme('switch', './');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% 100%;
			width: 108rpx;
			height: 58rpx;
		}
	
		&.active::after {
            @include theme('active_switch', './');
		}
	}
	.radio_box {
		padding: 30rpx 0;
		flex: 1;
		display: flex;
		justify-content: flex-end;
	
		view {
			display: flex;
			align-items: center;
			font-size: 28rpx;
			color: #333333;
			margin-left: 90rpx;
	
			&:first-child {
				margin-left: 0;
			}
	
			&::before {
				content: '';
				width: 38rpx;
				height: 38rpx;
				margin-right: 15rpx;
				border: 2rpx solid #eee;
				border-radius: 50%;
				box-sizing: border-box;
			}
	
			&.active::before {
				border: 12rpx solid $themeColor;
			}
		}
	}
	
	.select_info {
		padding: 30rpx 0;
		flex: 1;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	
		.value {
			font-size: 30rpx;
			color: #333;
			text-align: right;
		}
	
		.select {
			font-size: 30rpx;
			color: #999999;
		}
	
		.head_img {
			width: 100rpx;
			height: 100rpx;
			border-radius: 10rpx;
		}
	
		&::after {
			content: '';
			@include bis('http://qn.kemean.cn/upload/201907/23/me_lise_more.png', 100% 100%);
			width: 15rpx;
			height: 26rpx;
			margin-left: 20rpx;
			flex-shrink: 0;
		}
	}
	
	.upload_info {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 10rpx;
	
		.upload_img {
			width: 200rpx;
			height: 200rpx;
			background-color: #ffffff;
			border-radius: 4rpx;
			margin-right: 16rpx;
			margin-bottom: 16rpx;
			overflow: hidden;
			position: relative;
	
			&:nth-child(3n) {
				margin-right: 0;
			}
	
			image {
				width: 100%;
				height: 100%;
			}
	
			>view {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 40rpx;
				background-color: rgba(0, 0, 0, 0.5);
				color: #fff;
				font-size: 24rpx;
				text-align: center;
				line-height: 40rpx;
			}
	
			.delete {
				position: absolute;
				top: 0rpx;
				right: 0rpx;
				width: 44rpx;
				height: 44rpx;
				background-image: url('https://qn.kemean.cn/upload/201908/05/df40b98b77fc4c42a5e0327c62975e29');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}
	
			&.upload {
				border: 1rpx dashed #b2b2b2;
				background-image: url('https://qn.kemean.cn/upload/201908/05/d68df2873cd04f18a70104e340a14884');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 60% 60%;
			}
		}
	}
	.textarea_info {
		width: 100%;
		padding-bottom: 30rpx;
		font-size: 28rpx;
		color: #333;
	
		textarea {
			width: 100%;
			height: 154rpx;
			font-size: 30rpx;
			line-height: 150%;
		}
	}
}

.protocol {
	margin-top: 20rpx;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 28rpx;
	color: #666;

	text {
		color: $themeColor;
	}
	view {
		@include theme('unselected_img', './');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover; 
		width: 34rpx;
		height: 34rpx;
		margin-right: 10rpx;
		&.active {
			@include theme('radio_img', './');
		}
	}
}

.form_but {
	margin-top: 80rpx;
	padding: 30rpx;
	display: flex;
	justify-content: center;

	button {
		flex: 1;
		height: 88rpx;
		background-color: #f0f0f0;
		border-radius: 8rpx;
		line-height: 88rpx;
		font-size: 34rpx;
		color: #cccccc;

		&.active {
			background-color: $themeColor;
			color: #ffffff;
		}

		&::after {
			border: none;
		}
	}
}
// -----------------------导航条-------------------------------
.cell_list {
	background-color: #fff;
	padding: 30rpx;
	display: flex;
	justify-content: space-between;
	align-items: center;
	&.active:active {
		background-color: #f5f5f5;
	}
	&.line {
		border-bottom: 1rpx solid #f5f5f5;
	}
	&.lineTop {
		
		border-top: 1rpx solid #f5f5f5;
	}
	.cell_left {
		font-size: 28rpx;
		color: #333333;
		display: flex;
		align-items: center;
		image {
			width: 30rpx;
			height: 30rpx;
			margin-right: 20rpx;
		}
	}
	.cell_right {
		font-size: 28rpx;
		color: #333333;
		display: flex;
		align-items: center;
		&.arrow::after {
			content: '';
			@include bis('./static/icon/me_lise_more.png', 100% 100%);
			width: 12rpx;
			height: 22rpx;
			margin-left: 20rpx;
		}
		image {
			width: 36rpx;
			height: 36rpx;
			margin-left: 20rpx;
		}
	}
}