@charset "utf-8";
//主色
$themeColor: #ff4289;
$viceColor:#ffd4e4;
$viceColor2:#ffeef4;
$viceColor3:#ff4289;
$viceColor4:#ffd4e4;


@mixin theme($type,$path:''){
	@if $type == "gradient_bg" {
		background-image: linear-gradient(90deg,#ff629d 0%,#ff4289 100%) !important;
	} @else if $type == "bargin_bg" {
		background-image: linear-gradient(90deg,#ff629d 0%,#ff4289 100%) !important;
	} @else if $type == "unselected_img" {
		background-image: url($path + "static/icon/ic_notselected.png");
	} @else if $type == "check_img" {
		background-image: url($path + "static/icon/theme/ic_select.png");
	} @else if $type == "radio_img" {
		background-image: url($path + "static/icon/theme/ic_select.png");
	} @else if $type == "home_bg_image" {
		background-image: url(http://qn.kemean.cn//upload/202004/21/158743673891789ebi4sx.png);
	} @else if $type == "my_bg_image" {
		background-image: url(http://qn.kemean.cn/upload/202007/28/1595915812984ettz95ib.png);
	} @else if $type == "switch" {
		background-image: url($path + "static/icon/ic_address_close.png");
	} @else if $type == "active_switch" {
		background-image: url($path + "static/icon/theme/ic_address_open.png");
	}
}
// 背景图片地址和大小
@mixin bis($url, $size: cover) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: $size;
}

// 头像
@mixin ic($width, $height) {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-shrink: 0;
  width: $width;
  height: $height;
}

// 单行省略号
@mixin toe() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

// 多行省略号
@mixin bov($num:2) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}
